html head + body .ui-btn.ui-btn-b:visited {
    background-color: #333333 /*{b-bup-background-color}; */;
    border-color: #1f1f1f /*{b-bup-border};; */;
    color: #ffffff /*{b-bup-color}*/;
    text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 0 /*{b-bup-shadow-radius}*/ #111111 /*{b-bup-shadow-color}*/;
}

#backgroundlayerstoolbar, #zoomtoolbar, #toolstoolbar {
    -webkit-box-shadow: 2px 2px 5px #888;
    -moz-box-shadow: 2px 2px 5px #888;
    box-shadow: 2px 2px 5px #888;
    /*background: #000000;*/
}