#backgroundlayerstoolbar {
    bottom: .7em;
    right: 50px;
    float: right;
    position: fixed;
    margin-bottom: 0;
}

#backgroundlayerstoolbar h4 a {
    font-size: small;
}

#backgroundlayerstoolbar >h4.ui-collapsible-heading.ui-collapsible-heading-collapsed a{
    padding-bottom: 6px;
    padding-top: 6px;
}

#backgroundlayerstoolbar >h4.ui-collapsible-heading.ui-collapsible-heading-collapsed a{
    padding-bottom: 6px;
    padding-top: 6px;
}